@import "../vars";

.PageControls {
  @include flex(row, center, center);

  flex-wrap: wrap;
  max-width: $contentWidth;
  width: 100%;
  margin: $spaceM auto;

  a {
    @include font("M");
  }

  a:not(:last-of-type) {
    margin-right: $spaceM;
  }
}

.Selected {
  border: 0.2rem solid $primaryD;
  padding: $spaceS;
}
