@import "../../../vars";

.NewsCardContainer {
  width: 32rem;
  height: 50rem;
  margin: $spaceM;
  position: relative;

  .ImageContainer {
    width: 100%;
    height: 40%;

    .Image {
      height: 100%;
    }
  }

  h3 {
    @include font("SM");
    line-height: 1;
    margin-top: 0.5rem;
  }

  .DateDisplay {
    @include font("XS");
  }

  .Excerpt {
    @include font("S");

    margin-top: 0.5rem;
    line-height: 1.3;
  }
}

.ArticleBtn {
  @include cta-button();
  @include font("XS");
  position: absolute;
  bottom: 1rem;
  // left: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
