@import "../../vars";

.InvestmentServices {
  @include flex(column, flex-start, center);

  max-width: $contentWidthL;
  padding: $spaceXL 0;
}

.FlipCardContainer {
  @include flex(row, center, center);

  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-top: $spaceL;
}
