@import "../../../vars";

.SideMenuContainer {
  align-self: flex-start;

  div {
    @include flex(column, flex-start, flex-start);

    margin-bottom: $spaceM;
    flex-wrap: wrap;

    button {
      @include flex(row, space-between, baseline);
      @include font("S");

      background: $gray4;
      padding: $spaceS;
      width: 30rem;
      color: white;
      border: none;
      margin-bottom: $spaceS;
      cursor: pointer;
      text-align: left;
      transition: 0.5s;

      &:first-of-type {
        margin-right: $spaceM;
      }

      svg {
        padding-top: 0.3rem;
        color: white;
      }
    }

    button:hover {
      background: $primary;
    }

    .Selected {
      background: $primary;
    }
  }

  @include min-width(768px) {
    ul {
      @include flex(column, flex-start, flex-start);
      margin: 0;
      margin-top: $spaceM;

      li {
        margin: 0;
        margin-bottom: 1rem;
      }
    }

    width: 30%;
    margin-bottom: auto;
  }
}
