@import "../../../vars";

.SideMenu {
  align-self: flex-start;

  div {
    @include flex(column, flex-start, flex-start);

    margin-bottom: $spaceM;
    flex-wrap: wrap;

    button {
      @include flex(row, flex-start, baseline);
      @include font("M");

      background: none;
      border: none;
      margin-bottom: $spaceS;
      cursor: pointer;
      text-align: left;

      &:first-of-type {
        margin-right: $spaceM;
      }

      svg {
        margin-right: $spaceS;
        padding-top: 0.3rem;
        color: $primary;
      }
    }
  }

  @include min-width(768px) {
    ul {
      @include flex(column, flex-start, flex-start);
      margin: 0;
      margin-top: $spaceM;

      li {
        margin: 0;
        margin-bottom: 1rem;
      }
    }

    width: 50%;
    margin-bottom: auto;
  }
}

.Link {
}
