@import "../../vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body,
textarea,
input {
  min-height: 100%;
  font-family: $fontStackBody;
}

a:link,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontStackTitle;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
div,
button,
a {
  color: $gray5;
}

.active-route {
  @include underline();
}

.active-contact {
  border: 0.15rem solid $primaryLL !important;
}
