@import "../../../vars";

.Address {
  @include flex(column, flex-start, center);

  margin-bottom: $spaceL;

  &:first-of-type {
    margin-top: $spaceL;
  }

  @include min-width(1000px) {
    @include flex(row, space-between, center);
  }
}

.Left,
.Right {
  width: 100%;

  @include min-width(1000px) {
    width: 50%;
  }
}

.Left {
  .ImageContainer {
    margin: 0 auto;
    max-width: 300px;
    margin-bottom: $spaceM;
  }
}

.Right {
  @include flex(column, flex-start, center);

  h3,
  ul li {
    font-style: normal;
  }

  h3 {
    @include font("L");

    background: white;
    padding: $spaceS;
    color: $primaryD;
    font-weight: 400;
  }

  ul {
    list-style: none;
    background: white;
    padding: $spaceS;

    li {
      @include font("S");
      margin-bottom: 0.5rem;
    }
  }

  @include min-width(1000px) {
    @include flex(column, flex-start, flex-start);
    margin-left: $spaceM;
  }
}
