@import "../../../vars";

.SideMenu {
  align-self: flex-start;

  ul {
    @include flex(column, flex-start, flex-start);
    margin-bottom: $spaceM;
    flex-wrap: wrap;

    li {
      @include flex(row, center, center);
      @include font("M");

      list-style: none;
      margin-bottom: 1rem;

      &:first-of-type {
        margin-right: $spaceM;
      }

      svg {
        margin-right: $spaceS;
        color: $primary;
      }
    }
  }

  @include min-width(768px) {
    ul {
      @include flex(column, flex-start, flex-start);
      margin: 0;

      li {
        margin: 0;
        margin-bottom: 1rem;
      }
    }

    width: 50%;
    margin-bottom: auto;
  }
}

.Link {
}
