@import "../../../../vars";

.Navigation {
  @include flex(row, flex-end, center);

  width: 100%;
}

.Links {
  display: none;
  width: 100%;

  a {
    @include font("S");

    position: relative;
    color: white;
  }

  a:not(.ContactBtn) {
    &::before {
      background: $primaryLL;
      content: "";
      display: block;
      height: 0.2rem;
      margin-top: 2.6rem;
      opacity: 0;
      position: absolute;
      transition: 0.6s;
      width: 100%;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  @include min-width(1000px) {
    @include flex(row, space-between, center);
  }
}

.HamburgerMenu {
  @include font("XL");

  background: transparent;
  border: none;
  color: $gray5;
  cursor: pointer;
  margin-right: -7rem;
  margin-top: 2rem;

  @include min-width(1000px) {
    display: none;
  }
}

.MiniMenu {
  @include flex(row, center, center);

  background: $gray1;
  flex-wrap: wrap;
  padding: $spaceS;
  position: absolute;
  right: 0;
  top: 10rem;
  width: 100%;

  a {
    padding: 0 $spaceS;
  }

  @include min-width(1000px) {
    display: none;
  }
}

.ContactBtn {
  border: 0.15rem solid white;
  border-radius: 5px;
  padding: $spaceXS $spaceS;
  transition: 0.8s;

  &:hover {
    background: rgba($gray5, 0.5);
  }
}
