@import "../../../../vars";

.Navigation {
  @include flex(row, flex-end, center);
  @include font("M");

  width: 60%;
}

.Links {
  display: none;
  width: 100%;

  a {
    position: relative;
    color: white;

    &::before {
      height: 0.2rem;
      width: 100%;
      background: white;
      content: "";
      display: block;
      position: absolute;
      margin-top: 3.45rem;
      opacity: 0;
      transition: 0.6s;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  @include min-width(1000px) {
    @include flex(row, space-around, center);
  }
}

.HamburgerMenu {
  border: none;
  background: transparent;
  @include font("XL");
  color: white;

  @include min-width(1000px) {
    display: none;
  }
}

.MiniMenu {
  @include flex(row, space-around, center);

  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  padding: $spaceS;
  top: 10rem;
  right: 0;
  background: rgba($gray5, 0.5);

  a {
    color: white;
  }
}
