@import "../../../vars";

.HeaderContainer {
  @include flex(row, space-between, flex-start);

  background: transparent;
  height: 10rem;
  padding: $spaceM;
  width: 100%;
  z-index: 100;
  position: absolute;

  @include min-width(1000px) {
    background: transparent;
    position: absolute;
  }

  @include min-width(1000px) {
    height: 20rem;
    padding-top: $spaceL;
    padding-left: $spaceL;
    padding-right: $spaceL;
    padding-bottom: 0;
  }
}

.Menu {
  @include flex(column, flex-start, flex-end);

  width: 40%;
}
