@import "../../../vars";

.Header {
  @include flex(row, space-between, center);

  background: $gray1;

  height: 15rem;
  padding: $spaceS;

  width: 100%;
  z-index: 100;

  @include min-width(1000px) {
    background: transparent;
    position: absolute;
  }

  @include min-width(1500px) {
    height: 20rem;
  }
}

.Menu {
  @include flex(column, flex-start, flex-end);
  width: 40%;
  margin-right: 10rem;
}
