@import "../../vars";

.Contact {
  @include flex(column, flex-start, center);

  width: 100%;

  @include min-width(1000px) {
    @include flex(row, center, center);
  }
}

.Left {
  width: 50%;
  margin-right: $spaceM;
  margin-top: $spaceL;
}
