@import "../../vars";

.CTAContainer {
  @include flex(column, flex-start, center);

  width: 100%;
  height: 100vh;
  margin-bottom: $spaceL;

  .ImageContainer {
    @include flex(column, flex-start, center);
    width: 100%;

    .Image {
      max-height: 35rem;
    }
  }

  .Copy {
    @include flex(column, center, center);

    width: 100%;
    text-align: center;

    h2 {
      @include font("L");
      font-weight: 400;
      letter-spacing: 0.6rem;
      color: $primaryD;
      text-transform: capitalize;
    }

    p {
      @include font("M");
      margin-top: $spaceS;
      margin-bottom: $spaceM;
    }
  }

  @include min-width(1000px) {
    @include flex(row, center, center);
    height: 60vh;

    .ImageContainer {
      width: 40%;

      .Image {
        max-height: 45rem;
      }
    }

    .Copy {
      @include flex(column, center, flex-start);
      text-align: left;

      h2 {
        @include font("XL");
      }

      p {
        @include font("M");
      }

      width: 60%;
    }
  }
}

.BenefitsContainer {
  @include flex(column, center, center);

  width: 100%;
  background: linear-gradient(rgba($gray6, 0.5), rgba($gray5, 0.6)),
    linear-gradient($primaryD, $primaryD);
  padding: $spaceM 0;

  @include min-width(1000px) {
    padding: $spaceL 0;
  }

  h3,
  li,
  p {
    color: white;
  }

  h3 {
    @include font("M");
    width: 100%;
    font-weight: 400;
    letter-spacing: 0.6rem;
    text-align: center;
    margin-bottom: $spaceM;
    padding: 0 $spaceL;

    @include min-width(1000px) {
      @include font("L");
    }
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $spaceM;
    width: 100%;
    padding: 0 $spaceL;

    li {
      @include flex(row, flex-start, baseline);
      @include font("S");
      width: 100%;
      list-style: none;
      text-align: left;

      p {
        .Icon {
          margin-right: $spaceS;
        }
      }
    }

    @include min-width(600px) {
      grid-template-columns: 1fr 1fr;

      li {
        @include font("M");
      }
    }

    @include min-width(1000px) {
      grid-template-columns: 1fr 1fr 1fr;

      li {
        @include flex(row, center, baseline);
        text-align: center;
      }
    }
  }
}

.PensionReviewContainer {
  @include flex(column, center, center);

  width: 100%;
  padding: $spaceM 0;

  @include min-width(1000px) {
    padding: $spaceL 0;
  }

  h3 {
    @include font("M");
    width: 100%;
    font-weight: 400;
    letter-spacing: 0.6rem;
    text-align: center;
    margin-bottom: $spaceM;
    color: $primary;
    padding: 0 $spaceL;

    @include min-width(1000px) {
      @include font("L");
    }
  }

  .Paragraphs {
    @include flex(column, flex-start, flex-start);
    margin-bottom: $spaceM;

    > p {
      @include font("S");
      padding: 0 $spaceL;
      margin-bottom: $spaceS;
      max-width: 150rem;
      text-align: left;

      @include min-width(600px) {
        @include font("M");
      }
    }
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $spaceM;
    width: 100%;
    padding: 0 $spaceL;
    margin-bottom: $spaceL;

    li {
      @include flex(row, center, flex-start);
      @include font("S");
      width: 100%;
      list-style: none;
      text-align: left;

      p {
        .Icon {
          margin-right: $spaceS;
          color: $primary;
        }
      }
    }

    @include min-width(600px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 0;

      li {
        @include font("M");
      }
    }
  }
}

.OptionsContainer {
  @include flex(row, center, center);
  background: lighten($primaryLL, 35%);
  padding: $spaceS;

  @include min-width(600px) {
    padding: $spaceL;
  }

  .OptionsCard {
    @include flex(column, flex-start, center);
    background: white;
    width: 50rem;
    padding: $spaceM;

    > h3 {
      @include font("M");
      font-weight: 400;
      letter-spacing: 0.6rem;
      color: $primary;
    }

    > p:not(:last-of-type),
    h3,
    ol {
      margin-bottom: $spaceS;
      text-align: left;
      width: 100%;
    }

    > p:last-of-type {
      margin-bottom: $spaceM;
    }

    > p,
    li,
    li p {
      @include font("S");
    }

    li {
      margin-left: $spaceM;
    }
  }
}

.FormSection {
  @include flex(column, flex-start, center);
  padding: $spaceS;

  @include min-width(500px) {
    padding: $spaceM;
  }

  @include min-width(1000px) {
    padding: $spaceL;
  }

  h3 {
    @include font("L");
    text-align: center;
    width: 100%;
    font-weight: 500;
    letter-spacing: 0.6rem;
    margin-bottom: $spaceL;
    color: $primary;
    padding: 0 $spaceS;

    @include min-width(1000px) {
      @include font("XL");
    }
  }

  .ContentContainer {
    @include flex(column, flex-start, center);

    .CopyContainer,
    .FormContainer {
      width: 100%;
    }

    @include min-width(1000px) {
      @include flex(row, flex-start, flex-start);

      .CopyContainer,
      .FormContainer {
        width: 50%;
      }

      .CopyContainer {
        margin-bottom: 0;
      }
    }

    .CopyContainer {
      padding: 0 $spaceM;
      margin-bottom: $spaceL;

      h4 {
        @include font("M");
        letter-spacing: 0.6rem;
        margin-bottom: $spaceM;
        color: $primary;
        font-weight: 400;
      }

      ul {
        margin-bottom: $spaceM;

        li {
          @include flex(row, flex-start, flex-start);
          width: 100%;
          list-style: none;
          text-align: left;
          margin-bottom: $spaceS;

          p {
            @include font("S");

            .Icon {
              margin-right: $spaceS;
              color: $primary;
            }
          }
        }
      }

      > p {
        @include font("S");
        margin-bottom: $spaceS;

        em {
          @include font("XS");
        }
      }

      @include min-width(1000px) {
        h4 {
          @include font("L");
        }

        ul li p {
          @include font("M");
        }

        > p {
          @include font("M");
        }
      }
    }

    .FormContainer {
      @include flex(column, center, center);
    }
  }
}
