@import "../../../../vars";

.LogoContainer {
  height: 8rem;
  width: 10%;

  img {
    height: 100%;
  }

  @include min-width(1000px) {
    height: 110%;
  }

  @include min-width(1500px) {
    height: 100%;
  }
}
