@import "../../../../vars";

.LogoContainer {
  width: 8rem;

  .LogoImage {
    width: 100%;
  }

  @include min-width(1000px) {
    width: 15rem;
  }

  // @include min-width(1500px) {
  //   height: 100%;
  // }
}
