@import "../../../vars";

.BannerText {
  @include flex(column, center, center);

  padding: $spaceS;

  h1,
  h2 {
    color: white;
    text-align: center;
    margin-bottom: $spaceM;
    // text-shadow: 2px 1px 1px $gray5;
    text-shadow: 0px 0px 4rem black;
    letter-spacing: 0.4rem;
  }

  h1 {
    @include font("XXL");
    font-weight: 400;
  }

  h2 {
    @include font("M");
    font-weight: 400;
  }

  @include min-width(1600px) {
    h1 {
      @include font("G");
    }

    h2 {
      @include font("XL");
    }
  }
}
