@import "../../../../vars";

.Card {
  @include flex(column, flex-start, center);

  background: white;
  box-shadow: $boxShadow;
  min-height: 70rem;
  padding: $spaceM;
  width: 90%;
  max-width: 40rem;
  z-index: 500;
  margin: $spaceS;

  .Title {
    h3 {
      @include font("L");
      width: 100%;
      letter-spacing: 0.3rem;
      text-align: center;
    }
  }

  @include min-width(1400px) {
    // margin-top: -#{$spaceL};
    // margin-top: -60rem;
    max-width: 45rem;
    min-height: 65rem;
  }

  @include min-width(1800px) {
    // margin-top: -#{$spaceL};
    max-width: 45rem;
    min-height: 65rem;

    .Title {
      h3 {
        @include font("L");
      }
    }

    .Copy {
      p {
        @include font("SSM");
      }
    }
  }

  .Copy {
    @include flex(column, flex-start, center);

    p {
      @include font("SSM");

      text-align: center;
      margin-bottom: $spaceM;

      @include min-width(1400px) {
        text-align: left;
      }
    }

    p:first-of-type {
      margin-top: $spaceM;
    }
  }
}
