@import "../../../../vars";

.Card {
  @include flex(column, flex-start, flex-start);

  background: $gray1;
  margin: $spaceS;
  max-width: 40rem;
  min-height: 55rem;
  padding: $spaceM;
  width: 90%;
  z-index: 500;

  .Title {
    h3 {
      @include font("L");

      color: $primaryD;
      letter-spacing: 0.3rem;
      line-height: 1 !important;
      text-align: left;
      width: 100%;
    }
  }

  .Copy {
    @include flex(column, flex-start, center);

    p {
      @include font("S");
    }

    p:not(:last-of-type) {
      margin-bottom: $spaceM;
    }

    p:first-of-type {
      margin-top: $spaceM;
    }
  }
}
