@import "../../../vars";

.ContainerStyles {
  @include flex(column, center, center);

  width: 100%;
}

.ContentContainer {
  @include flex(column, center, center);

  margin: 0 auto;
  width: 100%;
  max-width: $contentWidth;
}

.Pattern2 {
  background: linear-gradient(
    to right,
    white 0,
    white 60%,
    $primary 60%,
    $primary 80%,
    white 80%,
    white 100%
  );
}

.Pattern1 {
  background: linear-gradient(
    to right,
    white 0,
    white 10%,
    $primary 10%,
    $primary 40%,
    white 40%,
    white 100%
  );
}

.Pattern0 {
  background: lighten($primaryLL, 35%);
}

.Pattern3 {
  background: $gray1;
}
