@import "../../../vars";

.Footer {
  background: $primary;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-bottom: $spaceM;

  .Navigation {
    @include flex(column, flex-start, flex-start);
    @include font("SSM");

    padding: $spaceM;

    a {
      color: white;
      margin-bottom: $spaceS;
    }
  }

  .Social {
    @include flex(row, space-around, flex-start);
    @include font("L");

    a {
      margin-right: $spaceS;
    }
  }

  .Legal {
    @include flex(column, flex-start, flex-start);
    @include font("XS");

    text-align: center;
    margin-top: $spaceL;
    p {
      color: white;
    }
  }

  @include min-width(1000px) {
    grid-template-columns: 1fr 3fr 1fr 3fr;
    grid-template-rows: 1fr;
    padding: $spaceL;
    justify-items: left;

    .Navigation {
      margin-bottom: $spaceM;
    }

    .Social {
      @include flex(column, flex-start, flex-start);

      margin-top: 0;

      a {
        margin-bottom: $spaceS;
        margin-right: 0;
      }
    }

    .Legal {
      @include flex(column, flex-end, flex-start);
      text-align: left;
    }
  }
}

.Social {
  a {
    @include flex(column, center, center);
    position: relative;
    transition: 0.5s;

    div {
      background: white;
      position: absolute;
      width: 80%;
      height: 80%;
      z-index: 0;
    }

    svg {
      z-index: 1;
    }
  }

  a:hover {
    transform: translateY(-0.5rem);
  }

  @include min-width(1000px) {
    a:hover {
      transform: translateX(0.5rem);
    }
  }
}

.NavigationSub {
  @include flex(row, center, flex-start);
  padding: $spaceS;

  @include min-width(400px) {
    padding: $spaceM;
  }

  .SubWrapper {
    margin-right: $spaceS;

    .SubTitle {
      a {
        @include font("SSM");
        color: white;
      }

      @include min-width(1000px) {
        margin-right: $spaceS;
      }
    }

    .SubSub {
      @include flex(column, flex-start, flex-start);

      margin-left: $spaceM;
      margin-bottom: $spaceS;

      a {
        @include font("S");
        color: rgba(white, 0.7);
        margin-bottom: $spaceS;
      }
    }
  }
}
